/* Utilizado em todos os ficheiros HTML */
body {
  margin: 0%;
  background-color: indigo;
  margin: 0 10% 0% 10%;
}

body::-webkit-scrollbar {
  width: 0px;
}

#wrapper {
  padding: 20px;
  background-color: lightgray;
}

.content {
  margin-bottom: 2em;
}

/* Menu */
.menu {
  height: 1.5em;
}

/* Botões Menu */
.menu_button {
  background-color: azure;
  height: 2em;
  width: auto;
  padding: 5px;
  border: 0px;
  margin: 0px;
}

.menu_button:hover {
  background-color: grey;
  color: azure;
}

.menu_button:active {
  background-color: indigo;
}

/* Galeria Imagens/Videos */

.galeria {
  width: 100%;
}
.galeria th,
.galeria td {
  background-color: lightcyan;
  border-radius: 5px;
  border: 2px outset lightblue;
  padding: 1ex;
  text-align: center;
  vertical-align: top;
  width: 50%;
}

.img_gal {
  max-width: 100%;
  height: auto;
}

.vid_iframe {
  width: 100%;
  height: 320px;
}

/* css para a div dos comentários ás marcas */
.marcas {
  background-color: white;
  padding: 10px;
  line-height: normal;
  font-size: small;
}

.tabela_marcas {
  width: 100%;
}
.tabela_marcas th,
.tabela_marcas td {
  border: 1px solid black;
  padding: 1ex;
  width: 50%;
}

td {
  vertical-align: top;
}

.sub_tabela th,
.sub_tabela td,
.sub_tabela tr {
  padding-left: 0px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: auto;
}

/* Botão flutuante contactos */

#floating_contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50px;
  border: 6px outset lightblue;
  background-color: dodgerblue;
  height: 80px;
  width: 80px;
  font-size:x-large;
  font-style: italic;
  font-weight:900;
  user-select: none;
}

#floating_contacts:hover {
  background-color: rgb(31, 118, 206);
}

#floating_contacts:active {
  border: 6px inset lightblue;
  background-color: indigo;
}
